 
.container{
  
    display: flex;
  
    gap: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    p{
        color: rgba(0, 0, 0, 0.559);
    }
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}  


.container>.logo{
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;


    
   

}
.logo>.btn>button{
    padding: 8px 20px;
    background-color: black;
    color: white;
    margin-top: 10px;
}
.container>.logo>.logo-icon{
 display: flex;
    gap: 5px;
    align-items: center;
    
}
.logo-icon>input{
    background: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.container>.group-content{
    width: 70%;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.phone{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    display: flex;
    gap: 5px;
    font-size: 20px;
}